---
import Section from "../Section.astro"
import { basics } from "@cv";
import Mail from "@/icons/mail.astro"
import Phone from "@/icons/phone.astro"
import Github from "@/icons/github.astro";
import Linkedin from "@/icons/linkedin.astro";
import Html from "@/icons/html.astro";
import Css from "@/icons/css.astro";
import Git from "@/icons/git.astro";
import Javacript from "@/icons/javacript.astro";
import React from "@/icons/react.astro";

const { name, label, image, email, phone, location, profiles } = basics
const { region, city } = location

const SOCIAL_ICONS: Record<string, any> ={
    Github,
    Linkedin
}

const ABILITY_ICONS: Record<string, any> ={
    Html,
    Css,
    Git,
    Javacript,
    React
}
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                {region},{city}
            </span>
            <footer>
                
                {
                    email && (
                        <a
                            href={`mailito:${email}`}
                            title={`eviar un correo electronico a ${name} al correo ${email}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                        <Mail />
                        </a>
                    )
                }
                {
                    phone && (
                        <a
                            href={`tel:${phone}`}
                            title={`llama al telefo de ${name} al ${phone}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                        <Phone />
                        </a>
                    )
                }
                {
                    profiles.map(({ network, url, username })=>{
                        const Icon = SOCIAL_ICONS[network]

                        return(
                            <a 
                            href={url}
                            title={`visita el perfil de ${name} en ${network}`}
                            target="_blank"
                            rel="noopener noreferrer"
                            >
                            <Icon />
                            </a>
                        )
                    })

                    
                }
            </footer>
        </div>
        <figure>
            <img src={image} alt={name}>
        </figure>
    </div>
</Section>

<style>
    .container{
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    .info{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-right: 32px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.1rem;
		text-wrap: balance;
        font-weight: 500;
        color: #444;
    }
    span{
        font-size: .8rem;
		line-height: 1.6;
        font-weight: 400;
        margin: 0;
        color: #777;
    }
    figure img{
        width: 100px;
        height: 100px;
        border-radius: 16px;
    }
    footer{
        gap: 4px;
        margin-top: 8px;
    }
    footer a{
        color: #777;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eee;
        padding: 4px;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        transition: all .3s ease;
    }
    footer a:hover{
        background-color: #ccc;
    }
</style>