---
import Section from "../Section.astro"
import { basics } from "@cv";
import Mail from "../../icons/mail.astro"

const { name, label, image, email, location } = basics
const { region, city } = location
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                {region},{city}
            </span>
            <footer>
                {
                    email && (
                        <a
                            href={`mailito:${email}`}
                            title={`eviar un correo electronico a ${name} al correo ${email}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                        <Mail />
                        </a>
                    )
                }
            </footer>
        </div>
        <figure>
            <img src={image} alt={name}>
        </figure>
    </div>
</Section>

<style>
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h2{
        font-size: .8rem;
		line-height: 1.6;
        font-weight: 400;
        margin: 0;
        color: #777;
        width: 320px;
    }
    span{
        font-size: .8rem;
		line-height: 1.6;
        font-weight: 400;
        margin: 0;
        color: #777;
    }
    figure img{
        width: 120px;
        height: 120px;
        margin-top: 40px;
        border-radius: 16px;
    }
    
</style>